[flake8]
max-line-length = 119
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    migrations,
    build,
    dist,
    .eggs,
    .tox

# Ignoriere Regeln, die mit Black/Ruff kollidieren
extend-ignore = E203, W503

# Optional: zeige Code-Kontext bei Fehlern
show-source = True
statistics = True
